@import "tailwindcss";

*{
  /* margin: auto;
  padding: 0; */
  color: #fff;
  /* box-sizing: border-box; */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

html, body, #root {
  height: 100%;
  width: 100%;
}


body {
  background-color: #111;

}